<div class="row gx-5 justify-content-center">
    <div class="col-lg-8 col-xl-6">

        <form id="singup-form">

            <!-- Email address input-->
            <div class="form-floating mb-3">
                <input class="form-control" id="email" type="email" placeholder="name@example.com" value="" />
                <label for="email">Email address</label>


            </div>
            <!-- Password input-->
            <div class="form-floating mb-3">
                <input class="form-control" id="password" type="password" placeholder="password" value="" />
                <label for="password">Password</label>

            </div>



            <div class="d-none" id="submitErrorMessage">
                <div class="text-center text-danger mb-3">Error sending message!</div>
            </div>

            <div class="row justify-content-between mt-3"><button class="btn btn-primary btn-lg" id="submitButton"
                    type="submit">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <button class="btn btn-primary btn-lg" id="CancelButton" type="button">Cancel</button>
            </div>
        </form>
    </div>
</div>

<script src="/javascript/signup.js"></script>